# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ArquiteturaHexagonal.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\RIDER\ArquiteturaHexagonal\.idea\.idea.ArquiteturaHexagonal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
